.header-bg {
  background-color: white;
  height: 80px;
  .logo {
    h1 {
      font-size: 35px;
    }
  }
  .logo-img {
    margin-top: 30%;

    width: 150px;
    height: 100px;
  }
  .login {
    display: flex;
    position: absolute;
    right: 0;
  }
  .links {
    width: 350px;
    display: inline;
    a {
      color: #fa7268;
      padding: 3%;
      width: 100px;
    }
    a:hover {
      text-decoration: none;
      color: lightgray;
    }
  }
}

.carousel-item {
  height: 500px;
}

.footer {
  background: rgba(0, 0, 0, 0.884);
  width: 100%;
  margin-top: auto;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media (max-width: 376px) {
  .carousel {
    display: none;
  }
  .header-bg .logo-img {
    margin-top: 10%;
    width: 89px;
    height: 79px;
  }
  .header-bg {
    .show {
      background: whitesmoke;
      position: fixed;
      width: 40%;
      right: 13px;
      top: 81px;
      z-index: 5;
      .login a {
        margin-left: 10%;
      }
      .links {
        width: 350px;
        display: flex;
        flex-direction: column;
        a {
          color: #fa7268;
          padding: 3%;
          margin-left: 5%;
          width: 200px;
          display: inline;
        }
      }
    }
  }
  .collapsing {
    display: none;
  }
}
