.header-bg {
  background-color: white;
  height: 80px;
  .logo {
    color: #4a4e69;

    h1 {
      font-size: 35px;
    }
  }
  .login {
    display: flex;
  }
  // button {
  //   background-color: #4a4e69;
  //   border-color: #4a4e69;
  //   border-radius: 5%;
  // }
}

.carousel-item {
  height: 500px;
}
