.btn-filled {
  background-color: #fa7268;
  border-color: #fa7268;
}
.btn-filled:hover {
  border-color: #fa7268 !important;
  background-color: #f1554a !important;
}
.btn-filled:active {
  background-color: #f1554a !important;
  border-color: #fa7268 !important;
}
.admin-button {
  border-color: #fa7268;
  color: #fa7268;
}
