.btn-filled {
  background-color: #fa7268;
  border-color: #fa7268;
}
.admin-button {
  border-color: #fa7268;
  color: #fa7268;
}
button:hover {
  border-color: #fa7268 !important;
  background-color: #f1554a !important;
}
button:active {
  background-color: #f1554a !important;
  border-color: #fa7268 !important;
}
