.form-container {
  margin-top: 2%;
  .form-outline {
    border: 1px solid #4a4e69;
    width: 40%;
    height: 60%;
    margin: 0 auto;
    border-radius: 5px;
  }
  label {
    margin-top: 5%;
  }
  .form-group {
    width: 80%;
    margin: 0 auto;
  }
  button {
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 20%;
    background-color: #9e7e91;
    border-color: #9e7e91;
  }
  button:hover {
    border-color: #cde6f3;
    background-color: #9e7e91b4;
  }
  button:active {
    background-color: #9e7e91 !important;
    border-color: #9e7e91 !important;
  }
}
