.form-container {
  margin-top: 2%;
  .form-outline {
    border: 1px solid #4a4e69;
    width: 40%;
    height: 60%;
    margin: 0 auto;
    border-radius: 5px;
  }
  label {
    margin-top: 5%;
  }
  .form-group {
    width: 80%;
    margin: 0 auto;
  }
  button {
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 20%;
  }
}

@media (max-width: 376px) {
  .form-container {
    width: 350px;
    height: 400px;
    margin-top: 40%;
    margin-left: 3%;
    .form-outline {
      width: 90%;
    }
    .signup {
      height: 330px;
      .btn {
        width: 50%;
      }
    }
  }
}
