.card-link {
  text-decoration: none;
}

.card-title {
  text-align: center;
}
.card-subtitle {
  text-align: center;
}

.card-event {
  width: 320px;
  height: 300px;
}

.card-overlay {
  width: 320px;
  height: 300px;
}

.card-deck {
  .event-image {
    min-height: 300px;
    opacity: 0.7;
  }
}
