.card-deck {
  margin-right: 0;
  padding: 0 3%;
}

.event-details {
  // margin-bottom: 3%;
  // padding: 2%;
  &-image {
    margin-top: 8%;
    min-height: 400px;
    max-width: 400px;
    max-height: 400px;
  }
}
.tab-container {
  margin-top: 3%;
  .nav-tabs {
    border-color: #fa7268;
    a {
      color: #fa7268;
    }
    .nav-link {
      border: 1px solid transparent;
    }
    .active {
      border-color: #fa7268;
      border-bottom: none;
    }
  }
  .event-details-content {
    margin: 3%;
    h4 {
      font-size: 20px;
      color: grey;
    }
    .event-time {
      font-size: 14px;
    }
  }
}
.agenda {
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  margin-bottom: 3%;
  margin-top: 3%;
  padding: 3%;
}
.err {
  color: #fa7268;
}

@media (min-width: 376px) {
  .event-details-image {
    margin-top: 12%;
    min-height: 366px;
    max-width: 348px;
    max-height: 400px;
  }
}
