.card-event {
  width: 320px;
  height: 300px;
  .card-subtitle {
    text-align: center;
  }
  .card-title {
    text-align: center;
  }
  .card-link {
    text-decoration: none;
  }
  .event-image {
    min-height: 300px;
    opacity: 0.7;
  }
  .card-overlay {
    width: 300px;
    height: 300px;
  }
}
