.card-deck {
  margin-right: 0;
  padding: 0 3%;
}

.event-details {
  // margin-bottom: 3%;
  // padding: 2%;
  &-image {
    margin-top: 8%;
    min-height: 400px;
    max-width: 400px;
    max-height: 400px;
  }
}
.tab-container {
  margin-top: 3%;
  .nav-tabs {
    border-color: #fa7268;
    a {
      color: #fa7268;
    }
    .nav-link {
      border: 1px solid transparent;
    }
    .active {
      border-color: #fa7268;
      border-bottom: none;
    }
  }
  .event-details-content {
    margin: 3%;
    h4 {
      font-size: 20px;
      color: grey;
    }
    .event-time {
      font-size: 14px;
    }
    .agenda {
      display: inline;
      direction: row;
    }
  }
}
